img{width: 400px;height: 180px;}
p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{background-color: aqua;
}
h1{text-align: center;
color: darkblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
h4{text-align: center;
color: darkmagenta;}
div{background-color: tomato;}
